<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="WandESMSService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<WandESMSService.Properties.Settings>
   <setting name="CommPort" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="CommBaudRate" serializeAs="String">
    <value>115200</value>
   </setting>
   <setting name="CommTimeOut" serializeAs="String">
    <value>500</value>
   </setting>
   <setting name="LogFilePath" serializeAs="String">
    <value>C:\inetpub\wwwroot\WandESystemDev\WandESMSService\Logentries</value>
   </setting>
   <setting name="ConnectionString" serializeAs="String">
    <value>data source=10.230.1.84;initial catalog=RPZC_WESystem;persist security info=True;Integrated Security=SSPI;</value>
   </setting>
   <setting name="RequestSuccessBody" serializeAs="String">
    <value>Your token number: {0}</value>
   </setting>
   <setting name="FromPhoneNo" serializeAs="String">
    <value>+264811462687</value>
   </setting>
   <setting name="TimeInterval" serializeAs="String">
    <value>50000</value>
   </setting>
   <setting name="RequestFailureBody" serializeAs="String">
    <value>Account not allowed for prepaid.</value>
   </setting>
   <setting name="RequestClose" serializeAs="String">
    <value>Accounts are closed for now you can request a token again on  {0} </value>
   </setting>
  </WandESMSService.Properties.Settings>
	</applicationSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
