<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="TokenRequestService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<TokenRequestService.Properties.Settings>
   <setting name="IsSSL" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Port" serializeAs="String">
    <value>995</value>
   </setting>
   <setting name="TokenRequestFailure" serializeAs="String">
    <value>Token Request Failure</value>
   </setting>
   <setting name="TokenRequestSuccess" serializeAs="String">
    <value>Token Request Success</value>
   </setting>
   <setting name="SMTPSSL" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="LogFilePath" serializeAs="String">
    <value>C:\inetpub\wwwroot\WandESystemDev\TokenRequestService\Logentries</value>
   </setting>
   <setting name="Interval" serializeAs="String">
    <value>50000</value>
   </setting>
   <setting name="HostName" serializeAs="String">
    <value>10.230.1.30</value>
   </setting>
   <setting name="UserName" serializeAs="String">
    <value>electricity</value>
   </setting>
   <setting name="Password" serializeAs="String">
    <value>!3LeCtr1citY@13</value>
   </setting>
   <setting name="IsDelete" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ConnectionString" serializeAs="String">
    <value>data source=10.230.1.84;initial catalog=RPZC_WESystem;persist security info=True;Integrated Security=SSPI;</value>
   </setting>
   <setting name="MailServerHost" serializeAs="String">
    <value>RPZCRPNSRVEX.RPZC.COM.NA</value>
   </setting>
   <setting name="SMTPuserName" serializeAs="String">
    <value>electricity</value>
   </setting>
   <setting name="SMTPpassword" serializeAs="String">
    <value>!3LeCtr1citY@13</value>
   </setting>
   <setting name="FromAddress" serializeAs="String">
    <value>electricity@rpzc.com.na</value>
   </setting>
   <setting name="FromDisplay" serializeAs="String">
    <value>RPZC</value>
   </setting>
   <setting name="RequestFailureBody" serializeAs="String">
    <value>We are unable to provide the token due to one of the following reason. &lt;br/&gt; 1)  Invalid subject &lt;br&gt; 2) Account not allowed for prepaid.&lt;br&gt;&lt;br&gt;</value>
   </setting>
   <setting name="RequestSuccessBody" serializeAs="String">
    <value>Your token number: &lt;b&gt;  {0} &lt;b/&gt;&lt;br&gt;&lt;br&gt;</value>
   </setting>
   <setting name="SMTPPort" serializeAs="String">
    <value>25</value>
   </setting>
   <setting name="RequestClose" serializeAs="String">
    <value>Accounts are closed for now you can request a token again on  &lt;b&gt;  {0} &lt;b/&gt;&lt;br&gt;&lt;br&gt;</value>
   </setting>
  </TokenRequestService.Properties.Settings>
	</applicationSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
